.footer{
  margin-top: auto;
  padding: 15px 0;
  width: 100%;
  background-color: rgba(160,215,255, .7);

  &__info{
    display: flex;
    align-items:center;
    justify-content: center;

    @media(max-width:400px){
      flex-direction: column;
    }
  }
}

.info{
  font-size: 20px;

  &__copy{
    margin-right: 15px;
    width:fit-content;
  }

  &__author{
    width:fit-content;
    text-align: center;
    transition: all 1s;

    &:hover{
      color: rgba(250, 128, 114, 0.7);
    }
  }
}